<div class="container">
    <div class="row first-nav">
        <div class="col-md-6 col-xs-12">
            <a href="mailto:Yakaza.ht@hotmail.com" >
                Yakaza.ht@hotmail.com <img src="../assets/img/send.png">
            </a>
            <a href="tel:(012) 7323423"> 0127323423
                <img  src="../assets/img/Phone.png">
            </a>
            <a href="tel:(055) 9681179"> 0559681179
                <img  src="../assets/img/mobile.png">
            </a>
        </div>
        <div class="col-md-6 col-xs-12 ">
            <p>
                المملكه العربيه السعوديه -الطائف - حي المثناه -شارع محمد بن عبد الوهاب
                <img class="mr-10"  src="../assets/img/location.png">
            </p>
        </div>
    </div>

    <hr>

    <div class="row second-nav">
        <div class="col-md-8 col-xs-12 first-col">

            <button type="button" class="btn btn-primary firbtn">تبرع</button>
            <button type="button" class="btn btn-danger secbtn">تطوع</button>
            <a>اخبار الجمعية <img src="../assets/img/elec-service.png" class="icon"></a>

            <a>الخدمات الالكترونية <img src="../assets/img/Mask Group 2.png" class="icon"></a>
        </div>
        <div class="col-md-4 col-xs-12">
            
            <a href="http://alyakaza.com/">
                <img src="../assets/img/logo.png" class="img-logo">
            </a>
        </div>
        <!-- third nav -->
        <!-- Navbar (Header) Starts -->

        <nav class="navbar navbar-expand-lg navbar-dark bg-unique third-nav col-md-12 col-xs-12"
            style="background-color: #4B6D23;     border-radius: 5px;">
            <a class="navbar-brand" href=""><strong></strong></a>

            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-6"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">سمعنا صوتك </a>
            <div class="dropdown-menu dropdown-unique" aria-labelledby="navbarDropdownMenuLink-6"
                style="display: none; position: absolute;">
                <a class="dropdown-item waves-effect waves-light" href="">Action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Another action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Something else here</a>
            </div>
            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-6"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">المركز الاعلامي </a>
            <div class="dropdown-menu dropdown-unique" aria-labelledby="navbarDropdownMenuLink-6"
                style="display: none; position: absolute;">
                <a class="dropdown-item waves-effect waves-light" href="">Action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Another action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Something else here</a>
            </div>
            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-6"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">الفعاليات والانشطة </a>
            <div class="dropdown-menu dropdown-unique" aria-labelledby="navbarDropdownMenuLink-6"
                style="display: none; position: absolute;">
                <a class="dropdown-item waves-effect waves-light" href="">Action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Another action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Something else here</a>
            </div>


            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-6"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">خدمات الجمعية </a>
            <div class="dropdown-menu dropdown-unique" aria-labelledby="navbarDropdownMenuLink-6"
                style="display: none; position: absolute;">
                <a class="dropdown-item waves-effect waves-light" href="">Action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Another action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Something else here</a>
            </div>
            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-6"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">التقارير السنوية </a>
            <div class="dropdown-menu dropdown-unique" aria-labelledby="navbarDropdownMenuLink-6"
                style="display: none; position: absolute;">
                <a class="dropdown-item waves-effect waves-light" href="">Action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Another action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Something else here</a>
            </div>
            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-6"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">السياسات والنظمة </a>
            <div class="dropdown-menu dropdown-unique" aria-labelledby="navbarDropdownMenuLink-6"
                style="display: none; position: absolute;">
                <a class="dropdown-item waves-effect waves-light" href="">Action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Another action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Something else here</a>
            </div>
            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-6"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">مشاريعنا </a>
            <div class="dropdown-menu dropdown-unique" aria-labelledby="navbarDropdownMenuLink-6"
                style="display: none; position: absolute;">
                <a class="dropdown-item waves-effect waves-light" href="">Action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Another action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Something else here</a>
            </div>
            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-6"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">عن الجمعية </a>
            <div class="dropdown-menu dropdown-unique" aria-labelledby="navbarDropdownMenuLink-6"
                style="display: none; position: absolute;">
                <a class="dropdown-item waves-effect waves-light" href="">Action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Another action</a>
                <a class="dropdown-item waves-effect waves-light" href="">Something else here</a>
            </div>
            <a class="nav-link " style="color:#E8CA67 ;">الرئيسية <span class="sr-only">(current)</span> </a>
        </nav>
        <!-- Navbar (Header) Ends -->
    </div>
    <!-- <div class="row">

    </div> -->

</div>


<router-outlet></router-outlet>